.container-FAQ{
    background-color: var(--White);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 15px -5px var(--Dark-purple);
    justify-self: center;
    align-self: center;
    padding: 40px;
    color: var(--Dark-purple);
}

.title{
    display: flex;
    align-items: center;
    gap: 25px;
}